<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<css href="__COMMON__/jquery-ui/jquery-ui.min.css" />
<css href="__THEME__/css/index.css" />
<css href="__THEME__/font/font-awesome.min.css" />
<css href="__COMMON__/css/perfect-scrollbar.min.csss" />
<style>html, body { overflow: visible;}</style>
<script>

var ADMIN_TEMPLATES_URL = '__THEME__';
var LOADING_IMAGE = "__THEME__/images/loading.gif";
var ADMIN_RESOURCE_URL = '__THEME__';
</script>
<js href="__COMMON__/js/jquery/jquery.js" />
<js href="__COMMON__/jquery-ui/jquery-ui.min.js" />
<js href="__COMMON__/jquery-ui/zh-CN.js" />
<js href="__THEME__/js/admin.js" />
<js href="__THEME__/js/dialog.js" />
<js href="__THEME__/js/flexigrid.js" />
<js href="__COMMON__/js/jquery/jquery.validation.min.js" />
<js href="__THEME__/js/common.js" />
<js href="__COMMON__/js/perfect-scrollbar.min.js" />
<js href="__COMMON__/js/jquery/jquery.mousewheel.js" />
<js href="__COMMON__/js/jquery/jquery.picTip.js" /></head>
</head>
<body style="background-color: #FFF; overflow: auto;">
	<div id="append_parent"></div>
	<div id="ajaxwaitid"></div>

	<div class="page">
		<div class="fixed-bar">
			<div class="item-title">
				<div class="subject">
					<h3>角色管理</h3>
					<h5>管理员的分组和权限设置</h5>
				</div>
			</div>
		</div>
		<table class="flex-table">
			<thead>
				<tr>
					<th width="24" align="center" class="sign"><i class="ico-check"></i></th>
					<th width="150" align="center" class="handle">操作</th>
					<th width="150" align="left">角色</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<volist name="list" id="r">
				<tr class="hover">
					<td class="sign"><i class="ico-check"></i></td>
					<td class="handle">
						<a class="btn red" href="{:U('/Admin/admin/del_role',array('role_id'=>$r['role_id']))}" onclick="if(confirm('确定要删除此权限及拥有此权限的管理员吗？')){return true;} else {return false;}"><i class="fa fa-trash-o"></i>删除</a>
						<a class="btn blue" href="{:U('/Admin/admin/edit_group',array('role_id'=>$r['role_id']))}"><i class="fa fa-pencil-square-o"></i>编辑</a>
					</td>
					<td>{$r.role_name}</td>
					<td></td>
				</tr>
			</volist>
			</tbody>
		</table>
	</div>
	<script>
		$('.flex-table').flexigrid({	
			height:'auto',// 高度自动
			usepager: false,// 不翻页
			striped: true,// 使用斑马线
			resizable: false,// 不调节大小
			reload: false,// 不使用刷新
			columnControl: false,// 不使用列控制 
			title: '角色列表',
			buttons : [
					   {display: '<i class="fa fa-plus"></i>新增数据', name : 'add', bclass : 'add', onpress : fg_operation }
				   ]
			});

		function fg_operation(name, grid) {
			if (name == 'add') {
				window.location.href = '{:U("/Admin/admin/add_group")}';
			}
		}
	</script>
	<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>