<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<title>您需要登录后才可以使用本功能</title>
<css href="__THEME__/font/font-awesome.min.css" />
	<css href="__COMMON__/jquery-ui/jquery-ui.min.css" />
<js href="__COMMON__/js/jquery/jquery.js" />
	<style>
		.cen{
			width: 45%;
			height: 500px;
			border: 1px solid #000;
			float: left;
			margin-left:1%;
			font-size:7cm;
			color: #000088;

		}
	</style>
</head>

<body>
	<div class="cen" data-project="1"><a href="{:U('index/index',array('_pro'=>1))}">搭配号</a> </div>
	<div class="cen" data-project="2"><a href="{:U('index/index',array('_pro'=>2))}">穿形</a> </div>
</body>
</html>
