<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<css href="__COMMON__/jquery-ui/jquery-ui.min.css" />
<css href="__THEME__/css/index.css" />
<css href="__THEME__/css/pagination.css" />
<css href="__THEME__/font/font-awesome.min.css" />
<css href="__COMMON__/css/perfect-scrollbar.min.css" />
<style>html, body { overflow: visible;}</style>
<script>

var ADMIN_TEMPLATES_URL = '/Admin';
var LOADING_IMAGE = "__THEME__/images/loading.gif";
var ADMIN_RESOURCE_URL = '__THEME__';
var SITEURL = 'http://'+window.location.host;
var ACTION_NAME  = '{:ACTION_NAME}';
var CONTROLLER_NAME	=	'{:CONTROLLER_NAME}';

</script>
<js href="__COMMON__/js/jquery/jquery.js" />
<js href="__COMMON__/js/jquery/jquery.edit.js" />
<js href="__COMMON__/jquery-ui/jquery-ui.min.js" />
<js href="__COMMON__/jquery-ui/zh-CN.js" />
<js href="__THEME__/js/uploadImg.js" />
<js href="__THEME__/js/flexigrid.js" />
<js href="__COMMON__/js/jquery/jquery.validation.min.js" />
<js href="__COMMON__/js/perfect-scrollbar.min.js" />
<js href="__COMMON__/js/jquery/jquery.mousewheel.js" />
<js href="__COMMON__/plugin/layer/layer.js" />
<js href="__THEME__/js/common.js" />
<js href="__THEME__/js/admin.js" />


</head>