<include file="Public/header" />

<body style="background-color: #FFF; overflow: auto;">
	<js href="__COMMON__/js/jquery/jquery.picTip.js" />
	<div id="append_parent"></div>
	<div id="ajaxwaitid"></div>
	<div class="page">
		<div class="fixed-bar">
			<div class="item-title">
				<neq name="back" value="0">
					<a class="back" href="{$Think.session._JUMPURL_}" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
				</neq>
				{$back_htn_html}
				<div class="subject">
					<h3>提现管理</h3>
					<h5>提现索引和管理</h5>
				</div>
			</div>
		</div>
		<!--<div class="mDiv">
			<div class="sDiv">
				<div class="sDiv2">
					<form action="{:U('Admin/Order/index',array('m'=>'Admin','c'=>'Order','a'=>'index'))}" method="get">
						<input type="hidden" name="order_type" value="{$Think.get.order_type}">
						<input type='hidden' name='m' value='Admin'/>
						<input type='hidden' name='c' value='Order'/>
						<input type='hidden' name='a' value='index'/>
					<tr>订单号：
						<input type="text" placeholder="搜索相关数据...." name="order_no" class="qxbox" size="20" value="{$order_no}">
					</tr>
					<tr>
					时间查询：
						开始时间：<input type="text" class="laydate-icon" id="start" name="start_time" value="{$start_time}"/>
						结束时间：<input type="text" class="laydate-icon" id="end" name="end_time" value="{$end_time}" />
					</tr>
					<tr>
					用户查询：
						<input type="text" placeholder="搜索相关数据...." name="user" value="{$user}">
					</tr>
						<button>搜索</button>
					</form>
				</div>
			</div>
		</div>-->
		<table class="flex-table">
			<thead>
				<tr>
					<th width="24" align="center" class="sign"><i class="ico-check"></i></th>
					<th width="200" align="center" class="handle">操作</th>
					<th width="50" align="center">编号</th>
					<th width="150" align="center">用户名</th>
					<th width="100" align="center">金额</th>
					<th width="100" align="center">持卡人</th>
					<th width="300" align="center">开户行</th>
					<th width="150" align="center">银行卡号</th>
					<th width="200" align="center">创建时间</th>
					<th width="120" align="center">状态</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<volist name="list" id="vo">
				<tr data-id="{$vo.id}">
					<td class="sign"><i class="ico-check"></i></td>
					<td class="handle">
						<a class="btn blue" href="{:U('Acount/detail',array('id'=>$vo['id'],'order_type'=>$_GET['order_type']))}"><i class="fa fa-pencil-square-o"></i>详情</a>

						<switch name="vo.withdraw_status">
							<case value="2"><a class="btn blue"><i class="fa fa-pencil-square-o"></i>经理（准许提现</a></case>
							<case value="3"><a class="btn blue"><i class="fa fa-pencil-square-o"></i>财务（打款）</a></case>
							 <default /> <a class="btn blue"><i class="fa fa-pencil-square-o"></i>财务（可提现）</a>
						</switch>
					</td>

					<td>{$vo.id}</td>
					<td>{$vo.username}</td>
					<td>{$vo.money}</td>
					<td>{$vo.cardholder}</td>
					<td>{$vo.bank}</td>
					<td>{$vo.card_no}</td>
					<td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
					<td>
						<eq  name="vo.status" value="0">
							<span class="no">未提现</span>
							<else/>
							<span class="yes">已提现</span>
						</eq>
					</td>
					<td></td>
				</tr>
			</volist>
			</tbody>
		</table>
		<div class="page-main quotes">{$page}</div>

	</div>
	<script>
	$(function(){
		$('.flex-table').flexigrid({
			height : "auto", // 高度自动
			usepager: false,// 不翻页
			striped: true,// 使用斑马线
			resizable: false,// 不调节大小
			reload: false,// 不使用刷新
			columnControl: false,// 不使用列控制 
			minheight : 200,
			title: '提现列表',
			});
	});
	</script>
	<script>
		$(function(){
			$('span').click(function(){
			var now = $(this);
			var css = now.attr('class');
			var id = now.parent().parent().parent().attr('data-id');
				if (css == 'yes'){
					var val = 0;
				}else{
					var val = 1;
				}
			var sub_data = {'value':val,'id':id};
			var response_url = "{:U('Acount/ajax_update')}";
			$.ajax({
				dataType:"json",
				type: "POST",
				url: response_url,
				data: sub_data,
				success:function(json_data){
					if(json_data.data.val==1){
						now.removeClass('no').addClass('yes');
						now.html('<i class="fa fa-check-circle"></i>已提现');
					}else{
						now.removeClass('yes').addClass('no');
						now.html('<i class="fa fa-ban"></i>未提现');
					}
				}
			});
		});
		});
	</script>
	<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>