<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<css href="__COMMON__/jquery-ui/jquery-ui.min.css" />
<css href="__THEME__/css/index.css" />
<css href="__THEME__/font/font-awesome.min.css" />
<css href="__COMMON__/css/perfect-scrollbar.min.css" />
<style>html, body { overflow: visible;}</style>
<script>

var ADMIN_TEMPLATES_URL = '__THEME__';
var LOADING_IMAGE = "__THEME__/images/loading.gif";
var ADMIN_RESOURCE_URL = '__THEME__';
</script>
<js href="__COMMON__/js/jquery/jquery.js" />
<js href="__COMMON__/jquery-ui/jquery-ui.min.js" />
<js href="__COMMON__/jquery-ui/zh-CN.js" />
<js href="__THEME__/js/admin.js" />
<script src="__THEME__/dialog/dialog.js" id="dialog_js"></script>
<js href="__THEME__/js/flexigrid.js" />
<js href="__COMMON__/js/jquery/jquery.validation.min.js" />
<js href="__THEME__/js/common.js" />
<js href="__COMMON__/js/perfect-scrollbar.min.js" />
<js href="__COMMON__/js/jquery/jquery.mousewheel.js" />
<js href="__COMMON__/js/jquery/jquery.edit.js" />
</head>
<body style="background-color: #FFF; overflow: auto;">
	<js href="__COMMON__/js/jquery/jquery.picTip.js" />
	<div id="append_parent"></div>
	<div id="ajaxwaitid"></div>
	<div class="page">
		<div class="fixed-bar">
			<div class="item-title">
				{$back_htn_html}
				<div class="subject">
					<h3>文章管理</h3>
					<h5>资讯文章索引和管理</h5>
				</div>
			</div>
		</div>
		
		<div id="explanation" class="explanation">
			<div id="checkZoom" class="title">
				<i class="fa fa-lightbulb-o"></i>
				<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
				<span title="收起提示" id="explanationZoom"></span> 
			</div>
			<ul>
				<li>通过修改排序数字可以控制前台显示顺序，数字越小越靠前</li>
				<li>可以直接在列表中修改文章对应的浏览数，开启关闭评论和心情功能</li>
			</ul>
		</div>
		<div id="flexigrid"></div>
	</div>
	<script>
		$(function(){
			$("#flexigrid").flexigrid({
				url: '{:U("news/index")}',
				colModel : [
					{display: '操作', name : 'operation', width : 150, sortable : false, align: 'center', className: 'handle'},
					{display: '排序', name : 'sort', width : 60, sortable : true, align: 'center'},
					{display: '文章标题', name : 'title', width : 300, sortable : false, align: 'left'},
					{display: '缩略图', name : 'pic', width : 60, sortable : false, align: 'center'},					
					{display: '附件数', name : 'pic', width : 60, sortable : false, align: 'center'},					
					{display: '分类', name : 'cat_name', width : 80, sortable : false, align: 'center'},
					{display: '浏览量', name : 'view_times', width : 80, sortable : false, align: 'center'},
					{display: '状态', name : 'status', width : 80, sortable : true, align: 'center'},
					{display: '作者', name : 'source', width : 80, sortable : false, align: 'center'},
					//{display: '推荐', name : 'is_recommend', width : 80, sortable : true, align: 'center', className: 'column-a'},
					{display: '更新时间', name : 'update_time', width : 130, sortable : true, align: 'center', className: 'column-a'},
					],
				buttons : [
					{display: '<i class="fa fa-plus"></i>添加文章', name : 'add', bclass : 'add', title : '添加新的文章', onpress : fg_operation },
					{display: '<i class="fa fa-trash"></i>批量删除', name : 'del', bclass : 'del', title : '将选定文章批量删除', onpress : fg_operation },
					],
				searchitems : [
					{display: '文章标题', name : 'title'},
					],
				sortname: "sort",
				sortorder: "asc",
				title: '文章列表'
			});
			
			
		});
		
		function fg_operation(name, bDiv) {
			if(name == 'add') {
				window.location.href = '{:U("news/add")}';
			}else if (name == 'del') {
				if ($('.trSelected', bDiv).length == 0) {
					showError('请选择要操作的数据项！');
				}
				var itemids = new Array();
				$('.trSelected', bDiv).each(function(i){
					itemids[i] = $(this).attr('data-id');
				});
				fg_del(itemids);
			}
		}
				
		function fg_del(ids){
			if (typeof ids == 'number') {
				var ids = new Array(ids.toString());
			};
			id = ids.join(',');
			if(confirm('确认这些文章吗？')){
				$.getJSON('{:U("news/del")}', {id:id}, function(data){
					if (data.status) {
						location.reload();
					} else {
						showError(data.info)
					}
				});
			}
		}
	</script>
	<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>