<include file="Public/header" />
<body style="background-color: #FFF; overflow: auto;">
	<js href="__COMMON__/js/jquery/jquery.picTip.js" />
	
	<div id="append_parent"></div>
	<div id="ajaxwaitid"></div>
	<div class="page">
		<div class="fixed-bar">
			<div class="item-title">
				<a class="back" href="{:U(CONTROLLER_NAME.'/teacher')}" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
				<div class="subject">
					<h3>教师管理 - 修改信息</h3>
					<h5>教师管理的添加、修改和删除</h5>
				</div>
			</div>
		</div>
		<form id="add_form" method="post" action="{:U('teacherEdit')}" enctype="multipart/form-data">
			<input type="hidden" name="form_submit" value="ok" />
			<input type="hidden" name="id" value="{$vo.teacher_id}" />
			<div class="ncap-form-default">
				<dl class="row">
					<dt class="tit">
						<label for="teacher_name"><em>*</em>教师姓名</label>
					</dt>
					<dd class="opt">
						<input type="text" id="teacher_name" name="teacher_name" class="input-txt" value="{$vo.teacher_name}">
						<span class="err"></span>
						<p class="notic"></p>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="username"><em>*</em>账号</label>
					</dt>
					<dd class="opt">
						<input type="text" id="username" readonly
							   onfocus="this.removeAttribute('readonly');" onblur="this.setAttribute('readonly',true);" autocomplete="false"  name="username" class="input-txt" value="{$vo.username}">
						<span class="err"></span>
						<p class="notic"></p>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="pwd"><em>*</em>账号密码</label>
					</dt>
					<dd class="opt">
						<input type="password" id="pwd" readonly
							   onfocus="this.removeAttribute('readonly');" onblur="this.setAttribute('readonly',true);" autocomplete="false"  name="pwd" class="input-txt" value="">
						<input type="hidden" id="repwd"  name="repwd" class="input-txt" value="{$vo.pwd}">
						<span class="err"></span>
						<p class="notic">修改密码之后需要重新登录（为空则不修改）</p>
					</dd>
				</dl>

				<dl class="row">
					<dt class="tit">
						<label for="grate_id"><em>*</em>年级类别</label>
					</dt>
					<dd class="opt">
						<div class="onoff">
							<select name="grate_id" id="grate_id" class="input-txt" >
								<volist name="grate_list" id="v">
									<option value="{$v.id}" <if condition="$vo['grate_id'] eq $v['id']">selected</if> >{$v.grate_name}</option>
								</volist>
							</select>
							<span class="err"></span>
							<p class="notic" style="font-size: 12px;"></p>
						</div>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="is_online"><em>*</em>是否在线</label>
					</dt>
					<dd class="opt">
						<div class="onoff">
							<div class="onoff">
								<label class="cb-enable selected" for="is_online1">在线</label>
								<label class="cb-disable" for="is_online0">下线</label>
								<input type="radio" value="1" name="is_online" id="is_online1">
								<input type="radio" value="0" name="is_online" id="is_online0">
							</div>
							<span class="err"></span>
							<p class="notic" style="font-size: 12px;"></p>
						</div>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="status"><em>*</em>状态</label>
					</dt>
					<dd class="opt">
						<div class="onoff">
							<div class="onoff">
								<label class="cb-enable selected" for="status1">开启</label>
								<label class="cb-disable" for="status0">关闭</label>
								<input type="radio" value="1" name="status" id="status1">
								<input type="radio" value="0" name="status" id="status0">
							</div>
							<span class="err"></span>
							<p class="notic" style="font-size: 12px;"></p>
						</div>
					</dd>
				</dl>

				<div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
			</div>
		</form>
	</div>
	<link rel="stylesheet" href="__COMMON__/plugin/drop-img/jquery.dad.css" />
	<js href="__COMMON__/js/jquery/jquery.picTip.js" /></head>
	<js href="__COMMON__/plugin/laydate/laydate.js" />
	<js href="__COMMON__/plugin/layer/layer.js" />

	<js href="__THEME__/kindeditor/kindeditor-min.js" />
	<js href="__THEME__/kindeditor/config.js" />
	<js href="__THEME__/kindeditor/lang/zh_CN.js" />

	<js href="__COMMON__/jquery-ui/jquery.ui.widget.js" />
	<js href="__COMMON__/js/jquery/jquery.fileupload.js" />
	<js href="__COMMON__/js/jquery/jquery.nyroModal.js" />

	<js href="__COMMON__/js/jquery/jquery.iframe-transport.js" />
	<js href="__COMMON__/plugin/drop-img/jquery.dad.js" />

	<script type="text/javascript">

	$(document).ready(function(){

        $('.drop_img').dad({
            draggable:'img'
        });
        // 图片上传
        $('input[name="fileupload"]').each(function(){
            $(this).fileupload({
                dataType: 'json',
                url: '{:U("upload_attachment")}',
                done: function (e,json){
                    var data = json.result;
                    if(data.status==1){
                        add_uploadedfile(data.data);
                    }
                }
            });
        });

        function add_uploadedfile(data){

            var newImg = '<li id="' + data.file_id + '"><input type="hidden" name="carousel_img[][path]" value="' + data.file_path  + '" /><div class="thumb-list-pics"><a href="javascript:void(0);"><img src="' + data.file_path  + '" alt=""/></a></div><a href="javascript:del_file_upload(0,' + data.file_id +',\'' + data.file_path  + '\');" class="del" title="删除">X</a><a href="javascript:insert_editor(\'' + data.file_path  + '\');" class="inset"><i class="fa fa-clipboard"></i>插入图片</a></li>';
            $('#thumbnails > div').append(newImg);
        }

        function insert_editor(file_name){
            KE.appendHtml('content', '<img src="'+ file_name + '">');
        }


		//按钮先执行验证再提交表单
		$("#submitBtn").click(function(){
			if($("#add_form").valid()){
			 var sub_data = $('#add_form').serialize();
			 var response_url = $('#add_form').attr('action');
			 console.log(response_url);
				$.ajax({
					type: 'POST',
					dataType: 'json',
					data: sub_data,
					url: response_url,
					success:function(json_data){
					    if(json_data.ret == 1){
                            layer.alert(json_data.msg,function(){
                                window.location.href= "{:U('teacher')}";
							});
						}else{
                            layer.alert(json_data.msg);
						}

					}
				});
			}
		});

		$("#add_form").validate({
			errorPlacement: function(error, element){
				var error_td = element.parent('dd').children('span.err');
				error_td.append(error);
			},
			rules : {
                username 		: 	{required : true},
				teacher_name	: 	{required : true},
                grate_id		:	{required:true}
			},
			messages : {
                username			:	{required:'<i class="fa fa-exclamation-circle"></i>不能为空'},
                teacher_name	: 	{required:'<i class="fa fa-exclamation-circle"></i>不能为空'},
                grate_id	:	{required:'<i class="fa fa-exclamation-circle"></i>不能为空'}
			}
		});

	});
	</script>

	<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>