	<include file="Public/header" />
<body style="background-color: #FFF; overflow: auto;">
	<js href="__COMMON__/js/jquery/jquery.picTip.js" />

	<div id="append_parent"></div>
	<div id="ajaxwaitid"></div>
	<div class="page">
		<div class="fixed-bar">
			<div class="item-title">
				<a class="back" href="{:U(CONTROLLER_NAME.'/index')}" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
				<div class="subject">
					<h3>教学视频管理 - 修改</h3>
					<h5>教学视频的添加、修改和删除</h5>
				</div>
			</div>
		</div>
		<form id="add_form" method="post" action="{:U('Video/teaching_video_edit')}">
			<input type="hidden" name="form_submit" value="ok" />
			<input type="hidden" name="id" value="{$vo.id}" />
			<div class="ncap-form-default">
				<dl class="row">
					<dt class="tit">
						<label for="title"><em>*</em>教学视频标题</label>
					</dt>
					<dd class="opt">
						<input type="text" id="title" name="title" class="w200 input-txt" value="{$vo.title}">
						<span class="err"></span>
						<p class="notic"></p>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="video_id"><em>*</em>选择视频</label>
					</dt>
					<dd class="opt">
						<select name="video_id" class="w200" >
							<option value="">--请选择--</option>
							<volist name="video_list" id="val">
								<option value="{$val.video_id}" <if condition="$vo['video_id'] eq $val['video_id']">selected</if>>{$val.video_name}</option>
							</volist>
						</select>
						<span class="err"></span>
						<p class="notic"></p>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="teacher_id"><em>*</em>选择老师</label>
					</dt>
					<dd class="opt">
						<select name="teacher_id" class="w200" >
							<option value="">--请选择--</option>
							<volist name="teacher_list" id="t_val">
								<option value="{$t_val.teacher_id}" <if condition="$vo['teacher_id'] eq $t_val['teacher_id']">selected</if>>{$t_val.teacher_name}</option>
							</volist>
						</select>
						<span class="err"></span>
						<p class="notic"></p>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="subject_task_id"><em>*</em>选择作业</label>
					</dt>
					<dd class="opt">
						<select name="subject_task_id" class="w200" >
							<option value="">--请选择--</option>
							<volist name="task_list" id="s_val">
								<option value="{$s_val.subject_task_id}" <if condition="$vo['subject_task_id'] eq $s_val['subject_task_id']">selected</if>>{$s_val.task_name}</option>
							</volist>
						</select>
						<span class="err"></span>
						<p class="notic"></p>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="cover_img">视频封面</label>
					</dt>
					<dd class="opt">
						<div class="input-file-show">
							<input type="file" class="type-file-file fileupload" id="fileupload" name="fileupload" size="30" hidefocus="true"  nc_type="upload_file_pic" title="">
							<input type='text' name='textfield' id='textfield' value="{$vo.cover_img}" class='type-file-text' />
							<input type='button' name='button' id='button1' value='选择上传...' class='type-file-button' />
							<input type="hidden" name="cover_img" id="cover_img" value="{$vo.cover_img}" />
						</div>
						<a  class="ncap-btn clear_pic" href="JavaScript:void(0);"><i class="fa fa-trash"></i>删除</a>
						<span class="err"></span>
						<div class="ncap-thumb-list thumbnails">
							<h5><i class="fa fa-exclamation-circle"></i>上传后的图片可以插入到富文本编辑器中使用，无用附件请手动删除，如不处理系统会始终保存该附件图片。</h5>
							<div class="thumb-list-pics">
								<if condition="$vo['cover_img']">
									<div class="thumb-list-pics"><a href="javascript:void(0);"><img style="width: 100px;height: 100px" src="{$vo['cover_img']}" alt=""/></a></div>
								</if>
							</div>
						</div>
						<!--<p class="notic">建议尺寸：316px*226px，允许格式:gif,jpg,jpeg,png</p>-->
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="logo">图片</label>
					</dt>
					<dd class="opt">
						<div class="input-file-show">
							<input type="file" class="type-file-file fileupload" id="fileupload" name="fileupload" size="30" hidefocus="true"  nc_type="upload_file_pic" title="">
							<input type='text' name='textfield' id='textfield' value="{$vo.logo}" class='type-file-text' />
							<input type='button' name='button' id='button1' value='选择上传...' class='type-file-button' />
							<input type="hidden" name="logo" id="logo" value="{$vo.logo}" />
						</div>
						<a  class="ncap-btn clear_pic" href="JavaScript:void(0);"><i class="fa fa-trash"></i>删除</a>
						<span class="err"></span>
						<div class="ncap-thumb-list thumbnails">
							<h5><i class="fa fa-exclamation-circle"></i>上传后的图片可以插入到富文本编辑器中使用，无用附件请手动删除，如不处理系统会始终保存该附件图片。</h5>
							<div class="thumb-list-pics">
								<if condition="$vo['logo']">
									<div class="thumb-list-pics"><a href="javascript:void(0);"><img style="width: 100px;height: 100px" src="{$vo['logo']}" alt=""/></a></div>
								</if>
								<!--<a href="javascript:void(0);"><img style="width: 100px;height: 100px" alt="" src="http://img.51chuanxing.com/Uploads/User/2016/10/18/2016-10-18/5805fd6195bfd.jpg"></a>-->
							</div>
						</div>
						<!--<p class="notic">建议尺寸：316px*226px，允许格式:gif,jpg,jpeg,png</p>-->
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="is_recommend"><em>*</em>是否推荐</label>
					</dt>
					<dd class="opt">
						<div class="onoff">
							<if condition="$vo['video_id'] eq ''">
								<label class="cb-enable selected" for="is_recommend1" >启用</label>
								<label class="cb-disable" for="is_recommend0">禁用</label>
								<else />
								<label class="cb-enable <if condition="$vo['is_recommend'] eq 1">selected</if>" for="is_recommend1" >启用</label>
							<label class="cb-disable <if condition="$vo['is_recommend'] eq 0">selected</if>" for="is_recommend0">禁用</label>
							</if>
							<input type="radio" value="1" name="is_recommend" id="is_recommend1">
							<input type="radio" value="0" name="is_recommend" id="is_recommend0">
						</div>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="title"><em>*</em>排序</label>
					</dt>
					<dd class="opt">
						<input type="text" id="sort" name="sort" class="w200 input-txt" value="{$vo.sort}">
						<span class="err"></span>
						<p class="notic"></p>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="status"><em>*</em>状态</label>
					</dt>
					<dd class="opt">
						<div class="onoff">
							<if condition="$vo['id'] eq ''">
								<label class="cb-enable selected" for="status1" >启用</label>
								<label class="cb-disable" for="status0">禁用</label>
							<else />
								<label class="cb-enable <if condition="$vo['status'] eq 1">selected</if>" for="status1" >启用</label>
								<label class="cb-disable <if condition="$vo['status'] eq 0">selected</if>" for="status0">禁用</label>
							</if>
							<input type="radio" value="1" name="status" id="status1">
							<input type="radio" value="0" name="status" id="status0">
						</div>
					</dd>
				</dl>
				<div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
			</div>
		</form>
	</div>
	<js href="__THEME__/kindeditor/kindeditor-min.js" />
	<js href="__THEME__/kindeditor/config.js" />
	<js href="__THEME__/kindeditor/lang/zh_CN.js" />

	<js href="__COMMON__/jquery-ui/jquery.ui.widget.js" />
	<js href="__COMMON__/js/jquery/jquery.fileupload.js" />
	<js href="__COMMON__/js/jquery/jquery.nyroModal.js" />
	<script type="text/javascript">

	$(document).ready(function(){
        // 图片上传
        $('.fileupload').each(function(){
            var self = $(this);
            var obj = self.closest('.opt');
            $(this).fileupload({
                dataType: 'json',
                url: '{:U("/Common/upload")}',
                done: function (e,json){
                    var data = json.result;
                    if(data.status==1){
                        add_oneuploadedfile(obj,data.data);
                    }
                }
            });
        });
        function add_oneuploadedfile(obj,data){
            obj.find("input[name='textfield']").val(data.file_path);
            obj.find("input[type='hidden']").val(data.file_path);

            var newImg = '<div class="thumb-list-pics"><a href="javascript:void(0);"><img style="width: 100px;height: 100px" src="' + data.file_path  + '" alt=""/></a></div>';
            obj.find('.thumbnails div').append(newImg);
        }
		//按钮先执行验证再提交表单
		$("#submitBtn").click(function(){
			if($("#add_form").valid()){
			 var sub_data = $('#add_form').serialize();
			 var response_url = $('#add_form').attr('action');
				$.ajax({
					type: 'POST',
					dataType: 'json',
					data: sub_data,
					url: response_url,
					success:function(json_data){
                        layer.alert(json_data.info,function(){
                            window.location.href= "{:U('teaching_video')}";
                        });

					}
				});
			}
		})
        $(".clear_pic").click(function () {
            var self = $(this);
            var obj = self.closest('.opt');
            obj.find("input[name='textfield']").val("");
            obj.find("input[type='hidden']").val("");
            obj.find('.thumbnails div').empty();

        })
		$("#add_form").validate({
			errorPlacement: function(error, element){
				var error_td = element.parent('dd').children('span.err');
				error_td.append(error);
			},
			rules : {
                teacher_id	: 	{required : true},
                title	: 	{required : true},
                sort	: 	{required : true},
                video_id		:	{required:true},
//                subject_task_id		:	{required:true}
			},
			messages : {
                title	: 	{required:'<i class="fa fa-exclamation-circle"></i>不能为空'},
                sort	: 	{required:'<i class="fa fa-exclamation-circle"></i>不能为空'},
                teacher_id	: 	{required:'<i class="fa fa-exclamation-circle"></i>不能为空'},
//                subject_task_id	:	{required:'<i class="fa fa-exclamation-circle"></i>不能为空'}
			}
		});

	});
	</script>

	<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>