	<include file="Public/header" />
<body style="background-color: #FFF; overflow: auto;">
	<js href="__COMMON__/js/jquery/jquery.picTip.js" />

	<div id="append_parent"></div>
	<div id="ajaxwaitid"></div>
	<div class="page">
		<div class="fixed-bar">
			<div class="item-title">
				<a class="back" href="{:U(CONTROLLER_NAME.'/category')}" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
				<div class="subject">
					<h3>单词属性- 修改</h3>
					<h5>单词属性的添加、修改和删除</h5>
				</div>
			</div>
		</div>
		<form id="add_form" method="post" action="{:U('Word/category_edit')}">
			<input type="hidden" name="form_submit" value="ok" />
			<input type="hidden" name="id" value="{$vo.id}" />
			<div class="ncap-form-default">
				<dl class="row">
					<dt class="tit">
						<label for="name"><em>*</em>名称</label>
					</dt>
					<dd class="opt">
						<input type="text" id="name" name="name" class="w200 input-txt" value="{$vo.name}">
						<span class="err"></span>
						<p class="notic"></p>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="word_type_id"><em>*</em>选择类型</label>
					</dt>
					<dd class="opt">
						<select name="word_type_id" class="w200" >
							<option value="type_list">--请选择--</option>
							<volist name="type_list" id="s_val">
								<option value="{$s_val.id}" <if condition="$vo['word_type_id'] eq $s_val['id']">selected</if>>{$s_val.name}</option>
							</volist>
						</select>
						<span class="err"></span>
						<p class="notic"></p>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="sort"><em>*</em>排序</label>
					</dt>
					<dd class="opt">
						<input type="text" id="sort" name="sort" class="w200 input-txt" value="{$vo.sort}">
						<span class="err"></span>
						<p class="notic"></p>
					</dd>
				</dl>
				<div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
			</div>
		</form>
	</div>
	<js href="__THEME__/kindeditor/kindeditor-min.js" />
	<js href="__THEME__/kindeditor/config.js" />
	<js href="__THEME__/kindeditor/lang/zh_CN.js" />

	<js href="__COMMON__/jquery-ui/jquery.ui.widget.js" />
	<js href="__COMMON__/js/jquery/jquery.fileupload.js" />
	<js href="__COMMON__/js/jquery/jquery.nyroModal.js" />
	<script type="text/javascript">

	$(document).ready(function(){
		//按钮先执行验证再提交表单
        var KE;
        KindEditor.ready(function(K) {
            KE = K.create("textarea[name='chinese_interpretation_con'],textarea[name='word_origin'],textarea[name='synonym']", option);
            KE.appendHtml = function(id,val) {
                this.html(this.html() + val);
                if (this.isCreated) {
                    var cmd = this.cmd;
                    cmd.range.selectNodeContents(cmd.doc.body).collapse(false);
                    cmd.select();
                }
                return this;
            }
        });
        $("#submitBtn").click(function(){
            if($("#add_form").valid()){
                var sub_data = $('#add_form').serialize();
                var response_url = $('#add_form').attr('action');
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    data: sub_data,
                    url: response_url,
                    success:function(json_data){
                        console.log(json_data);
                        layer.alert(json_data.info,function(){
                            window.location.href= "{:U('category')}";
                        });

                    }
                });
            }
        })

		$("#add_form").validate({
			errorPlacement: function(error, element){
				var error_td = element.parent('dd').children('span.err');
				error_td.append(error);
			},
			rules : {
				name	: 	{required : true},

			},
			messages : {
				name			:	{required:'<i class="fa fa-exclamation-circle"></i>不能为空'},
			}
		});

	});
	</script>

	<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>