<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<css href="__COMMON__/jquery-ui/jquery-ui.min.css" />
<css href="__THEME__/css/index.css" />
<css href="__THEME__/font/font-awesome.min.css" />
<css href="__COMMON__/css/perfect-scrollbar.min.css" />
<style>html, body { overflow: visible;}</style>
<script>
var ADMIN_TEMPLATES_URL = '__THEME__';
var LOADING_IMAGE = "__THEME__/images/loading.gif";
var ADMIN_RESOURCE_URL = '__THEME__';
</script>
<js href="__COMMON__/js/jquery/jquery.js" />
<js href="__COMMON__/jquery-ui/jquery-ui.min.js" />
<js href="__COMMON__/jquery-ui/zh-CN.js" />
<js href="__THEME__/js/admin.js" />
<script src="__THEME__/dialog/dialog.js" id="dialog_js"></script>
<js href="__THEME__/js/flexigrid.js" />
<js href="__COMMON__/js/jquery/jquery.validation.min.js" />
<js href="__THEME__/js/common.js" />
<js href="__COMMON__/js/perfect-scrollbar.min.js" />
<js href="__COMMON__/js/jquery/jquery.mousewheel.js" />
</head>
<body style="background-color: #FFF; overflow: auto;">
	<js href="__COMMON__/js/jquery/jquery.picTip.js" /></head>
	<div id="append_parent"></div>
	<div id="ajaxwaitid"></div>
	<div class="page">
		<div class="fixed-bar">
			<div class="item-title">
				{$back_htn_html}
				<div class="subject">
					<h3>文章管理 - 新增文章</h3>
					<h5>资讯文章索引和管理</h5>
				</div>
			</div>
		</div>
		
		
		<form id="add_form" method="post" enctype="multipart/form-data">
			<input type="hidden" name="form_submit" value="ok" />
			<input type="hidden" name="id" value="{$id}" />
			<div class="ncap-form-default">
				<div class="title"><h3>基本信息</h3></div>
				
				<dl class="row">
					<dt class="tit">
						<label for="cat_id"><em>*</em>所在栏目</label>
					</dt>
					<dd class="opt">
						<select name="cat_id" id="cat_id" value="{$cat_id}">
							<option value="">-请选择-</option>
							<volist name="nc" id="r">
							<option value="{$r.cat_id}">{$r.cat_name}</option>
							</volist>
						</select>
						<span class="err"></span>
						<p class="notic">请选择一个发布栏目。</p>
					</dd>
				</dl>
				
				<dl class="row">
					<dt class="tit">
						<label for="title"><em>*</em>文章标题</label>
					</dt>
					<dd class="opt">
						<input type="text" id="title" name="title" value="{$title}" class="input-txt">
						<span class="err"></span>
						<p class="notic">单页标题不能超过200个任意字符。</p>
					</dd>
				</dl>
				
				<dl class="row">
					<dt class="tit">
						<label for="file_pic">缩略图</label>
					</dt>
					<dd class="opt">
						<div class="input-file-show">
							<neq name="pic" value="">
							<span class="show" id="show_pic">
								<a class="nyroModal" rel="gal" href="{$pic}"> <img src="{$pic}" onMouseOver="toolTip('<img src={$pic}>')" onMouseOut="toolTip()"></i></a>
							</span>
							</neq>
							<span class="type-file-box">
								<input type="file" class="type-file-file" id="file_pic" name="file_pic" size="30" hidefocus="true"  nc_type="upload_file_pic" title="">
								<input type='text' name='textfield' id='textfield' class='type-file-text' />
								<input type='button' name='button' id='button1' value='选择上传...' class='type-file-button' />
								<input type="hidden" name="pic" id="pic" value="{$pic}" />
							</span>
						</div>
						<a onclick="clear_pic()" class="ncap-btn" href="JavaScript:void(0);"><i class="fa fa-trash"></i>删除</a>
						<span class="err"></span>
						<p class="notic">建议尺寸：316px*226px，允许格式:gif,jpg,jpeg,png</p>
					</dd>
				</dl>
				
				<dl class="row">
					<dt class="tit">
						<label for="summary">简介</label>
					</dt>
					<dd class="opt">
						<textarea name="summary" rows="6" class="tarea" id="summary">{$summary}</textarea>
					</dd>
				</dl>
				
				
				<dl class="row">
					<dt class="tit">
						<label for="contents"><em>*</em>内容</label>
					</dt>
					<dd class="opt">
						<textarea id="contents" name="contents" style="width:700px;height:300px;visibility:hidden;">{$contents}</textarea>
						<span class="err"></span>
						<p class="notic"></p>
					</dd>
				</dl>
				
				<dl class="row">
					<dt class="tit">上传附件</dt>
					<dd class="opt" id="divComUploadContainer">
						<div class="input-file-show">
							<span class="type-file-box">
								<input class="type-file-file" id="fileupload" name="fileupload" type="file" size="30" multiple hidefocus="true" title="">
								<input type="text" id="text" class="type-file-text" />
								<input type="button" name="button" id="button" value="选择上传..." class="type-file-button" />
							</span>
						</div>
						<div id="thumbnails" class="ncap-thumb-list">
							<h5><i class="fa fa-exclamation-circle"></i>上传后的图片可以插入到富文本编辑器中使用，无用附件请手动删除，如不处理系统会始终保存该附件图片。</h5>
							<ul>
							<neq name="attachment" value="">
							<volist name="attachment" id="file">
							<li id="file_{$file.nid}_{$file.id}">
								<input type="hidden" value="{$file.path}" name="attachment[{$i}][path]">
								<input type="hidden" value="{$file.id}" name="attachment[{$i}][id]">
								<div class="thumb-list-pics">
									<a href="javascript:void(0);"><img alt="" src="{$file.path}"></a>
								</div>
								<a title="删除" class="del" href="javascript:del_file_upload({$file.id},'file_{$file.nid}_{$file.id}','{$file.path}');">X</a>
								<a class="inset" href="javascript:insert_editor('{$file.path}');"><i class="fa fa-clipboard"></i>插入图片</a>
							</li>
							</volist>
							</neq>
							</ul>
						</div>
					</dd>
				</dl>
				
				<dl class="row">
					<dt class="tit">
						<label for="status"><em>*</em>状态</label>
					</dt>
					<dd class="opt">
						<div class="onoff">
							<label class="cb-enable <eq name="status" value="1">selected</eq>" for="status1">显示</label>
							<label class="cb-disable <eq name="status" value="0">selected</eq>" for="status0">隐藏</label>
							<input type="radio" value="1" name="status" id="status1">
							<input type="radio" value="0" name="status" id="status0">
						</div>
						<p class="notic"></p>
					</dd>
				</dl>
				
				<dl class="row">
					<dt class="tit">
						<label for="sort">排序</label>
					</dt>
					<dd class="opt">
						<input type="text" id="sort" name="sort" value="{$sort}" class="w60">
						<span class="err"></span>
						<p class="notic">数字范围为0~255，数字越小越靠前。</p>
					</dd>
				</dl>
				
				<div class="title"><h3>SEO设置</h3></div>
					
				<dl class="row">
					<dt class="tit">
						<label for="seo_title">SEO标题</label>
					</dt>
					<dd class="opt">
						<input id="seo_title" name="seo_title" value="{$seo_title}"  class="input-txt" type="text" />
					</dd>
				</dl>
				
				<dl class="row">
					<dt class="tit">
						<label for="seo_keywords">SEO关键字</label>
					</dt>
					<dd class="opt">
						<input id="seo_keywords" name="seo_keywords" value="{$seo_keywords}" class="input-txt" type="text" />
					</dd>
				</dl>
				
				<dl class="row">
					<dt class="tit">
						<label for="seo_description">SEO描述</label>
					</dt>
					<dd class="opt">
						<textarea name="seo_description" rows="6" class="tarea" id="seo_description">{$seo_description}</textarea>
					</dd>
				</dl>
				
				<div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
			</div>
		</form>
	</div>
	<js href="__THEME__/kindeditor/kindeditor-min.js" />
	<js href="__THEME__/kindeditor/config.js" />
	<js href="__THEME__/kindeditor/lang/zh_CN.js" />
	<js href="__COMMON__/js/jquery/jquery.iframe-transport.js" />
	<js href="__COMMON__/jquery-ui/jquery.ui.widget.js" />
	<js href="__COMMON__/js/jquery/jquery.fileupload.js" />
	<js href="__COMMON__/js/jquery/jquery.nyroModal.js" />
	<script>
	 var KE;
	 KindEditor.ready(function(K) {
		KE = K.create("textarea[name='contents']", option);
		KE.appendHtml = function(id,val) {
			this.html(this.html() + val);
			if (this.isCreated) {
				var cmd = this.cmd;
				cmd.range.selectNodeContents(cmd.doc.body).collapse(false);
				cmd.select();
			}
			return this;
		}
    });
	
	//按钮先执行验证再提交表
	$(document).ready(function(){
		
		$('.nyroModal').nyroModal();

		$("#file_pic").change(function(){
			$("#textfield").val($("#file_pic").val());
		});
	
		// 图片上传
		$('input[name="fileupload"]').each(function(){
			$(this).fileupload({
				dataType: 'json',
				url: '{:U("news/upload_attachment")}',
				done: function (e,json){
					var data = json.result;
					if(data.status==1){
						add_uploadedfile(data.data);
					}
				}
			});
		});
			
		//按钮先执行验证再提交表单
		$("#submitBtn").click(function(){
			if($("#add_form").valid()){
			 $("#add_form").submit();
			}
		});
		
		$('#cat_id').val('{$cat_id}')
		
		$("#add_form").validate({
			errorPlacement: function(error, element){
				var error_td = element.parent('dd').children('span.err');
				error_td.append(error);
			},
			
			rules: {
				cat_id:{required:true},
				title:{required:true},
				contents:{required:true}
			},
			messages: {
				cat_id: {
					required : '<i class="fa fa-exclamation-circle"></i>请选择一个发布栏目。',
				},
				title: {
					required : '<i class="fa fa-exclamation-circle"></i>标题不能为空',
				},
				contents: {
					required : '<i class="fa fa-exclamation-circle"></i>内容不能为空',
				},
			}
		});
	});
	
	function clear_pic(){
		$("#show_pic").remove();
		$("#textfield").val("");
		$("#file_pic").val("");
		$("#pic").val("");
	}
	
	function add_uploadedfile(data){
		var newImg = '<li id="' + data.file_id + '"><input type="hidden" name="attachment[][path]" value="' + data.file_path  + '" /><div class="thumb-list-pics"><a href="javascript:void(0);"><img src="' + data.file_path  + '" alt=""/></a></div><a href="javascript:del_file_upload(0,' + data.file_id +',\'' + data.file_path  + '\');" class="del" title="删除">X</a><a href="javascript:insert_editor(\'' + data.file_path  + '\');" class="inset"><i class="fa fa-clipboard"></i>插入图片</a></li>';
		$('#thumbnails > ul').prepend(newImg);
	}
	
	function insert_editor(file_name){
		KE.appendHtml('content', '<img src="'+ file_name + '">');
	}
	
	function del_file_upload(aid,file_id,file_path){
		if(!window.confirm('您确定要删除吗?')){
			return;
		}
		var nid = '{$id}';
		$.getJSON('{:U("news/remove_attachment")}', {'aid':aid,'nid':nid,'file_path':file_path},function(json){
			if(json.status==1){
				$('#' + file_id).remove();
			}else{
				alert('删除失败');
			}
		});
	}
	</script> 
	<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>