	<include file="Public/header" />
<body style="background-color: #FFF; overflow: auto;">
	<js href="__COMMON__/js/jquery/jquery.picTip.js" />

	<div id="append_parent"></div>
	<div id="ajaxwaitid"></div>
	<div class="page">
		<div class="fixed-bar">
			<div class="item-title">
				<a class="back" href="{:U(CONTROLLER_NAME.'/category')}" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
				<div class="subject">
					<h3>题目类别 - 修改</h3>
					<h5>题目类别的添加、修改和删除</h5>
				</div>
			</div>
		</div>
		<form id="add_form" method="post" action="{:U('Task/categoryedit')}">
			<input type="hidden" name="form_submit" value="ok" />
			<input type="hidden" name="id" value="{$vo.id}" />
			<div class="ncap-form-default">
				<dl class="row">
					<dt class="tit">
						<label for="subject_cate_name"><em>*</em>类别名称</label>
					</dt>
					<dd class="opt">
						<input type="text" id="subject_cate_name" name="subject_cate_name" class="w200 input-txt" value="{$vo.subject_cate_name}">
						<span class="err"></span>
						<p class="notic">名称不能为空且必须小于10个字</p>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="cate_en"><em>*</em>英文标识</label>
					</dt>
					<dd class="opt">
						<input type="text" id="cate_en" name="cate_en" <if condition="$vo['id']">selected</if> class="w200 input-txt" value="{$vo.cate_en}">
						<span class="err"></span>
						<p class="notic"></p>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="replace_mark">代替标志</label>
					</dt>
					<dd class="opt">
						<input type="text" id="replace_mark" name="replace_mark" class="w200 input-txt" value="{$vo.replace_mark}">
						<span class="err"></span>
						<p class="notic"></p>
					</dd>
				</dl>
				<dl class="row">
					<dt class="tit">
						<label for="status"><em>*</em>状态</label>
					</dt>
					<dd class="opt">
						<div class="onoff">
							<if condition="$vo['id'] eq ''">
								<label class="cb-enable selected" for="status1" >启用</label>
								<label class="cb-disable" for="status0">禁用</label>
								<else />
								<label class="cb-enable <if condition="$vo['status'] eq 1">selected</if>" for="status1" >启用</label>
							<label class="cb-disable <if condition="$vo['status'] eq 0">selected</if>" for="status0">禁用</label>
							</if>
							<input type="radio" value="1" name="status" id="status1">
							<input type="radio" value="0" name="status" id="status0">
						</div>
					</dd>
				</dl>

				<div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
			</div>
		</form>
	</div>
	<js href="__THEME__/kindeditor/kindeditor-min.js" />
	<js href="__THEME__/kindeditor/config.js" />
	<js href="__THEME__/kindeditor/lang/zh_CN.js" />

	<js href="__COMMON__/jquery-ui/jquery.ui.widget.js" />
	<js href="__COMMON__/js/jquery/jquery.fileupload.js" />
	<js href="__COMMON__/js/jquery/jquery.nyroModal.js" />
	<script type="text/javascript">

	$(document).ready(function(){
		//按钮先执行验证再提交表单
		$("#submitBtn").click(function(){
			if($("#add_form").valid()){
			 var sub_data = $('#add_form').serialize();
			 var response_url = $('#add_form').attr('action');
				$.ajax({
					type: 'POST',
					dataType: 'json',
					data: sub_data,
					url: response_url,
					success:function(json_data){
                        layer.alert(json_data.info,function(){
                            window.location.href= "{:U('category')}";
                        });
					}
				});
			}
		})

		$("#add_form").validate({
			errorPlacement: function(error, element){
				var error_td = element.parent('dd').children('span.err');
				error_td.append(error);
			},
			rules : {
                subject_cate_name	: 	{required : true},
                cate_en	: 	{required : true},
			},
			messages : {
                subject_cate_name			:	{required:'<i class="fa fa-exclamation-circle"></i>不能为空'},
                cate_en			:	{required:'<i class="fa fa-exclamation-circle"></i>不能为空'},
			}
		});

	});
	</script>

	<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>